body {
    background-color: #e5e5e5;
    color: #24282b;
    
    margin: 0;
}

#container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
}

#intro{
    width: 300px;
    margin-right: 20px;
    
}

button {
    border: none;
    font-weight: bold;
    background: none;
    color: #ff5e84;
}

button.fat {
    color: #ffffff;
    background: #ff5e84;
}
#button{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
}

footer{
    text-align: center;
}

footer a {
    color: #24282b;
    text-decoration: none;
}

.hide {
    display: none;
}